<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Caroline Benn // Web Developer" %></title>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway:700,400' %>
    
    <%= javascript_include_tag "vendor/modernizr" %>    
    <%= javascript_include_tag "application" %>
    
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="show-for-large-up">
      <nav class="navigation">
      <div class="row header" data-equalizer>
        <div class="medium-4 columns" data-equalizer-watch>
          <h1>Caroline Benn</h1>
        </div>
        <div class="medium-8 columns navbar-menu" data-equalizer-watch>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="hide-for-large-up">
      <nav class="pushy pushy-left">
        <ul>
          <li class="pushy-link"><a href="#">Home</a></li>
          <li class="pushy-link"><a href="#">Web Development</a></li>
          <li class="pushy-link"><a href="#">Web Design</a></li>
          <li class="pushy-link"><a href="#">About</a></li>
          <li class="pushy-link"><a href="#">Contact</a></li>
          <span>
            <li class="social-links">
              <a href="http://www.twitter.com/caroline_benn" target="_blank"><i class="fa fa-twitter"></i></a><a href="http://www.instagram.com/caroline_benn" target="_blank"><i class="fa fa-instagram"></i></a><a href="http://www.github.com/carolinebenn" target="_blank"><i class="fa fa-github-square"></i></a><a href="https://www.linkedin.com/in/carolinebenn" target="_blank"><i class="fa fa-linkedin-square"></i></a>
              </li>
          </span>
        </ul>
      </nav>
    
      <div class="site-overlay"></div>

      <div id="container">
        <div class="row">
          <div class="small-2 columns">
            <div class="menu-btn"><i class="fa fa-bars"></i>Menu</div>
          </div>
          <div class="small-8 columns">
            <h1>Caroline Benn</h1>
          </div>
          <div class="small-2 columns">
            &nbsp;
          </div>
        </div>        
      </div>  
    </div>    <!-- End of .hide-for-large-up -->

    <%= yield %>  

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </body>
</html>
